## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rio Grande,BR,-32.03,-52.10,62.60,36,0,8.05,clear sky
1,1,Kumluca,TR,36.37,30.29,85.80,37,0,7.40,clear sky
2,2,Nikolskoye,RU,59.70,30.79,66.20,63,40,4.47,scattered clouds
3,3,Dingle,PH,11.00,122.67,76.44,89,94,2.17,overcast clouds
4,4,Malumfashi,NG,11.79,7.62,73.35,82,97,5.12,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kumluca,TR,36.37,30.29,85.80,37,0,7.40,clear sky
3,3,Dingle,PH,11.00,122.67,76.44,89,94,2.17,overcast clouds
4,4,Malumfashi,NG,11.79,7.62,73.35,82,97,5.12,overcast clouds
8,8,Melito Di Porto Salvo,IT,37.92,15.77,82.40,78,0,16.11,clear sky
9,9,Hilo,US,19.73,-155.09,82.40,69,20,5.82,few clouds
10,10,Sibolga,ID,1.74,98.78,74.88,84,57,3.38,broken clouds
12,12,Albany,US,42.60,-73.97,87.01,42,22,8.77,few clouds
13,13,Sur,OM,22.57,59.53,81.16,74,98,13.51,overcast clouds
14,14,Tetiz,MX,20.97,-89.93,93.20,56,75,3.36,broken clouds
16,16,Santa Isabel Do Rio Negro,BR,-0.41,-65.02,89.82,51,50,1.81,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                351
City                   351
Country                351
Lat                    351
Lng                    351
Max Temp               351
Humidity               351
Cloudiness             351
Wind Speed             351
Current Description    351
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kumluca,TR,85.80,clear sky,36.37,30.29,
3,Dingle,PH,76.44,overcast clouds,11.00,122.67,
4,Malumfashi,NG,73.35,overcast clouds,11.79,7.62,
8,Melito Di Porto Salvo,IT,82.40,clear sky,37.92,15.77,
9,Hilo,US,82.40,few clouds,19.73,-155.09,
10,Sibolga,ID,74.88,broken clouds,1.74,98.78,
12,Albany,US,87.01,few clouds,42.60,-73.97,
13,Sur,OM,81.16,overcast clouds,22.57,59.53,
14,Tetiz,MX,93.20,broken clouds,20.97,-89.93,
16,Santa Isabel Do Rio Negro,BR,89.82,light rain,-0.41,-65.02,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kumluca,TR,85.80,clear sky,36.37,30.29,TurkuazKöy
3,Dingle,PH,76.44,overcast clouds,11.00,122.67,Camp Pasica
4,Malumfashi,NG,73.35,overcast clouds,11.79,7.62,INFINITY CYBER CAFE MALUMFASHI
8,Melito Di Porto Salvo,IT,82.40,clear sky,37.92,15.77,B&B Nereidi
9,Hilo,US,82.40,few clouds,19.73,-155.09,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
710,Prokuplje,RS,73.40,clear sky,43.23,21.59,Дом ученика средњих школа Прокупље
712,Odweyne,SO,75.61,overcast clouds,9.41,45.06,Eng Hiirey House
713,Tahoua,NE,85.73,broken clouds,14.89,5.27,Bungalows Guesthouse
717,Varzea Alegre,BR,97.61,scattered clouds,-5.35,-40.38,
721,Tucumcari,US,94.51,clear sky,35.17,-103.72,Holiday Inn Express & Suites Tucumcari

In [10]:
import numpy as np

In [11]:
hotel_df["Hotel Name"].isnull().sum()

0

In [12]:
hotel_df.count()

City                   351
Country                351
Max Temp               351
Current Description    351
Lat                    351
Lng                    351
Hotel Name             351
dtype: int64

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kumluca,TR,85.80,clear sky,36.37,30.29,TurkuazKöy
3,Dingle,PH,76.44,overcast clouds,11.00,122.67,Camp Pasica
4,Malumfashi,NG,73.35,overcast clouds,11.79,7.62,INFINITY CYBER CAFE MALUMFASHI
8,Melito Di Porto Salvo,IT,82.40,clear sky,37.92,15.77,B&B Nereidi
9,Hilo,US,82.40,few clouds,19.73,-155.09,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
709,Domoni,KM,75.00,clear sky,-12.26,44.53,Loulou
710,Prokuplje,RS,73.40,clear sky,43.23,21.59,Дом ученика средњих школа Прокупље
712,Odweyne,SO,75.61,overcast clouds,9.41,45.06,Eng Hiirey House
713,Tahoua,NE,85.73,broken clouds,14.89,5.27,Bungalows Guesthouse
721,Tucumcari,US,94.51,clear sky,35.17,-103.72,Holiday Inn Express & Suites Tucumcari

In [15]:
clean_hotel_df.count()

City                   325
Country                325
Max Temp               325
Current Description    325
Lat                    325
Lng                    325
Hotel Name             325
dtype: int64

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig